allow crash_dump packagemanager_config_prop:file { open };
allow crash_dump packagemanager_config_prop:file { getattr };
allow crash_dump media_variant_prop:file { open };
allow crash_dump media_variant_prop:file { getattr };
allow crash_dump qemu_sf_lcd_density_prop:file { open };
allow crash_dump qemu_sf_lcd_density_prop:file { getattr };
allow crash_dump vendor_overlay_file:file { read };
allow crash_dump vendor_overlay_file:file { open };
allow crash_dump vendor_overlay_file:file { getattr };
allow crash_dump resourcecache_data_file:file { read };
allow crash_dump resourcecache_data_file:file { open };
allow crash_dump resourcecache_data_file:file { getattr };
allow crash_dump device_config_runtime_native_prop:file { open };
allow crash_dump device_config_runtime_native_prop:file { getattr };
allow crash_dump odsign_prop:file { open };
allow crash_dump odsign_prop:file { getattr };
allow crash_dump device_config_runtime_native_boot_prop:file { open };
allow crash_dump device_config_runtime_native_boot_prop:file { getattr };
allow crash_dump test_harness_prop:file { open };
allow crash_dump test_harness_prop:file { getattr };
allow crash_dump qemu_hw_prop:file { open };
allow crash_dump qemu_hw_prop:file { getattr };

