allow flags_health_check keystore_crash_prop:file { getattr  open };
allow flags_health_check aac_drc_prop:file { open };
allow flags_health_check aac_drc_prop:file { getattr };
allow flags_health_check ab_update_gki_prop:file { open };
allow flags_health_check ab_update_gki_prop:file { getattr };
allow flags_health_check adbd_config_prop:file { open };
allow flags_health_check adbd_config_prop:file { getattr };
allow flags_health_check adbd_prop:file { open };
allow flags_health_check adbd_prop:file { getattr };
allow flags_health_check apexd_config_prop:file { open };
allow flags_health_check apexd_config_prop:file { getattr };
allow flags_health_check apexd_prop:file { open };
allow flags_health_check apexd_prop:file { getattr };
allow flags_health_check apk_verity_prop:file { open };
allow flags_health_check apk_verity_prop:file { getattr };
allow flags_health_check atci_sys_prop:file { open };
allow flags_health_check atci_sys_prop:file { getattr };
allow flags_health_check atm_ipaddr_prop:file { open };
allow flags_health_check atm_ipaddr_prop:file { getattr };
allow flags_health_check atm_mdmode_prop:file { open };
allow flags_health_check atm_mdmode_prop:file { getattr };
allow flags_health_check audio_config_prop:file { open };
allow flags_health_check audio_config_prop:file { getattr };
allow flags_health_check audio_tunning_prop:file { open };
allow flags_health_check audio_tunning_prop:file { getattr };
allow flags_health_check audiohal_prop:file { open };
allow flags_health_check audiohal_prop:file { getattr };
allow flags_health_check bluetooth_a2dp_offload_prop:file { open };
allow flags_health_check bluetooth_a2dp_offload_prop:file { getattr };
allow flags_health_check bluetooth_audio_hal_prop:file { open };
allow flags_health_check bluetooth_audio_hal_prop:file { getattr };
allow flags_health_check bluetooth_prop:file { open };
allow flags_health_check bluetooth_prop:file { getattr };
allow flags_health_check bootani_prop:file { open };
allow flags_health_check bootani_prop:file { getattr };
allow flags_health_check bootanim_config_prop:file { open };
allow flags_health_check bootanim_config_prop:file { getattr };
allow flags_health_check bootanim_system_prop:file { open };
allow flags_health_check bootanim_system_prop:file { getattr };
allow flags_health_check bootloader_boot_reason_prop:file { open };
allow flags_health_check bootloader_boot_reason_prop:file { getattr };
allow flags_health_check boottime_prop:file { open };
allow flags_health_check boottime_prop:file { getattr };
allow flags_health_check boottime_public_prop:file { open };
allow flags_health_check boottime_public_prop:file { getattr };
allow flags_health_check bpf_progs_loaded_prop:file { open };
allow flags_health_check bpf_progs_loaded_prop:file { getattr };
allow flags_health_check build_bootimage_prop:file { open };
allow flags_health_check build_bootimage_prop:file { getattr };
allow flags_health_check build_config_prop:file { open };
allow flags_health_check build_config_prop:file { getattr };
allow flags_health_check camera2_extensions_prop:file { open };
allow flags_health_check camera2_extensions_prop:file { getattr };
allow flags_health_check camera_calibration_prop:file { open };
allow flags_health_check camera_calibration_prop:file { getattr };
allow flags_health_check camerax_extensions_prop:file { open };
allow flags_health_check camerax_extensions_prop:file { getattr };
allow flags_health_check cdma_prop:file { open };
allow flags_health_check cdma_prop:file { getattr };
allow flags_health_check charger_config_prop:file { open };
allow flags_health_check charger_config_prop:file { getattr };
allow flags_health_check charger_prop:file { open };
allow flags_health_check charger_prop:file { getattr };
allow flags_health_check charger_status_prop:file { open };
allow flags_health_check charger_status_prop:file { getattr };
allow flags_health_check codec2_config_prop:file { open };
allow flags_health_check codec2_config_prop:file { getattr };
allow flags_health_check cold_boot_done_prop:file { open };
allow flags_health_check cold_boot_done_prop:file { getattr };
allow flags_health_check coredump_prop:file { open };
allow flags_health_check coredump_prop:file { getattr };
allow flags_health_check cpu_variant_prop:file { open };
allow flags_health_check cpu_variant_prop:file { getattr };
allow flags_health_check ctl_adbd_prop:file { open };
allow flags_health_check ctl_adbd_prop:file { getattr };
allow flags_health_check ctl_apexd_prop:file { open };
allow flags_health_check ctl_apexd_prop:file { getattr };
allow flags_health_check ctl_atci_service_prop:file { open };
allow flags_health_check ctl_atci_service_prop:file { getattr };
allow flags_health_check ctl_atcid-daemon-u_prop:file { open };
allow flags_health_check ctl_atcid-daemon-u_prop:file { getattr };
allow flags_health_check ctl_bootanim_prop:file { open };
allow flags_health_check ctl_bootanim_prop:file { getattr };
allow flags_health_check ctl_bugreport_prop:file { open };
allow flags_health_check ctl_bugreport_prop:file { getattr };
allow flags_health_check ctl_campostalgo_prop:file { open };
allow flags_health_check ctl_campostalgo_prop:file { getattr };
allow flags_health_check ctl_ccci2_fsd_prop:file { open };
allow flags_health_check ctl_ccci2_fsd_prop:file { getattr };
allow flags_health_check ctl_ccci2_rpcd_prop:file { open };
allow flags_health_check ctl_ccci2_rpcd_prop:file { getattr };
allow flags_health_check ctl_ccci3_fsd_prop:file { open };
allow flags_health_check ctl_ccci3_fsd_prop:file { getattr };
allow flags_health_check ctl_ccci_fsd_prop:file { open };
allow flags_health_check ctl_ccci_fsd_prop:file { getattr };
allow flags_health_check ctl_ccci_rpcd_prop:file { open };
allow flags_health_check ctl_ccci_rpcd_prop:file { getattr };
allow flags_health_check ctl_console_prop:file { open };
allow flags_health_check ctl_console_prop:file { getattr };
allow flags_health_check ctl_default_prop:file { open };
allow flags_health_check ctl_default_prop:file { getattr };
allow flags_health_check ctl_dumpstate_prop:file { open };
allow flags_health_check ctl_dumpstate_prop:file { getattr };
allow flags_health_check ctl_emdlogger1_prop:file { open };
allow flags_health_check ctl_emdlogger1_prop:file { getattr };
allow flags_health_check ctl_emdlogger2_prop:file { open };
allow flags_health_check ctl_emdlogger2_prop:file { getattr };
allow flags_health_check ctl_emdlogger3_prop:file { open };
allow flags_health_check ctl_emdlogger3_prop:file { getattr };
allow flags_health_check ctl_fuse_prop:file { open };
allow flags_health_check ctl_fuse_prop:file { getattr };
allow flags_health_check ctl_fusion_ril_mtk_prop:file { open };
allow flags_health_check ctl_fusion_ril_mtk_prop:file { getattr };
allow flags_health_check ctl_gsid_prop:file { open };
allow flags_health_check ctl_gsid_prop:file { getattr };
allow flags_health_check ctl_gsm0710muxd_prop:file { open };
allow flags_health_check ctl_gsm0710muxd_prop:file { getattr };
allow flags_health_check ctl_interface_restart_prop:file { open };
allow flags_health_check ctl_interface_restart_prop:file { getattr };
allow flags_health_check ctl_interface_start_prop:file { open };
allow flags_health_check ctl_interface_start_prop:file { getattr };
allow flags_health_check ctl_interface_stop_prop:file { open };
allow flags_health_check ctl_interface_stop_prop:file { getattr };
allow flags_health_check ctl_mdlogger_prop:file { open };
allow flags_health_check ctl_mdlogger_prop:file { getattr };
allow flags_health_check ctl_mdnsd_prop:file { open };
allow flags_health_check ctl_mdnsd_prop:file { getattr };
allow flags_health_check ctl_mediatranscoding_prop:file { open };
allow flags_health_check ctl_mediatranscoding_prop:file { getattr };
allow flags_health_check ctl_muxreport-daemon_prop:file { open };
allow flags_health_check ctl_muxreport-daemon_prop:file { getattr };
allow flags_health_check ctl_odsign_prop:file { open };
allow flags_health_check ctl_odsign_prop:file { getattr };
allow flags_health_check ctl_restart_prop:file { open };
allow flags_health_check ctl_restart_prop:file { getattr };
allow flags_health_check ctl_ril-daemon-mtk_prop:file { open };
allow flags_health_check ctl_ril-daemon-mtk_prop:file { getattr };
allow flags_health_check ctl_ril-proxy_prop:file { open };
allow flags_health_check ctl_ril-proxy_prop:file { getattr };
allow flags_health_check ctl_rildaemon_prop:file { open };
allow flags_health_check ctl_rildaemon_prop:file { getattr };
allow flags_health_check ctl_sigstop_prop:file { open };
allow flags_health_check ctl_sigstop_prop:file { getattr };
allow flags_health_check ctl_snapuserd_prop:file { open };
allow flags_health_check ctl_snapuserd_prop:file { getattr };
allow flags_health_check ctl_start_prop:file { open };
allow flags_health_check ctl_start_prop:file { getattr };
allow flags_health_check ctl_stop_prop:file { open };
allow flags_health_check ctl_stop_prop:file { getattr };
allow flags_health_check ctl_viarild_prop:file { open };
allow flags_health_check ctl_viarild_prop:file { getattr };
allow flags_health_check dck_prop:file { open };
allow flags_health_check dck_prop:file { getattr };
allow flags_health_check debug_bq_dump_prop:file { open };
allow flags_health_check debug_bq_dump_prop:file { getattr };
allow flags_health_check debug_mdlogger_prop:file { open };
allow flags_health_check debug_mdlogger_prop:file { getattr };
allow flags_health_check debug_mtk_aee_prop:file { open };
allow flags_health_check debug_mtk_aee_prop:file { getattr };
allow flags_health_check debug_mtk_aeev_prop:file { open };
allow flags_health_check debug_mtk_aeev_prop:file { getattr };
allow flags_health_check debug_mtklog_prop:file { open };
allow flags_health_check debug_mtklog_prop:file { getattr };
allow flags_health_check debug_netlog_prop:file { open };
allow flags_health_check debug_netlog_prop:file { getattr };
allow flags_health_check debugfs_restriction_prop:file { open };
allow flags_health_check debugfs_restriction_prop:file { getattr };
allow flags_health_check device_logging_prop:file { open };
allow flags_health_check device_logging_prop:file { getattr };
allow flags_health_check drm_service_config_prop:file { open };
allow flags_health_check drm_service_config_prop:file { getattr };
allow flags_health_check dumpstate_options_prop:file { open };
allow flags_health_check dumpstate_options_prop:file { getattr };
allow flags_health_check dynamic_system_prop:file { open };
allow flags_health_check dynamic_system_prop:file { getattr };
allow flags_health_check exported_bluetooth_prop:file { open };
allow flags_health_check exported_bluetooth_prop:file { getattr };
allow flags_health_check exported_overlay_prop:file { open };
allow flags_health_check exported_overlay_prop:file { getattr };
allow flags_health_check factor_prop:file { open };
allow flags_health_check factor_prop:file { getattr };
allow flags_health_check fastbootd_protocol_prop:file { open };
allow flags_health_check fastbootd_protocol_prop:file { getattr };
allow flags_health_check ffs_control_prop:file { open };
allow flags_health_check ffs_control_prop:file { getattr };
allow flags_health_check firstboot_prop:file { open };
allow flags_health_check firstboot_prop:file { getattr };
allow flags_health_check framework_watchdog_config_prop:file { open };
allow flags_health_check framework_watchdog_config_prop:file { getattr };
allow flags_health_check graphics_hwc_hdr_prop:file { open };
allow flags_health_check graphics_hwc_hdr_prop:file { getattr };
allow flags_health_check graphics_hwc_latch_unsignaled_prop:file { open };
allow flags_health_check graphics_hwc_latch_unsignaled_prop:file { getattr };
allow flags_health_check graphics_hwc_pid_prop:file { open };
allow flags_health_check graphics_hwc_pid_prop:file { getattr };
allow flags_health_check gsid_prop:file { open };
allow flags_health_check gsid_prop:file { getattr };
allow flags_health_check gsm0710muxd_prop:file { open };
allow flags_health_check gsm0710muxd_prop:file { getattr };
allow flags_health_check hal_dumpstate_config_prop:file { open };
allow flags_health_check hal_dumpstate_config_prop:file { getattr };
allow flags_health_check heapprofd_enabled_prop:file { open };
allow flags_health_check heapprofd_enabled_prop:file { getattr };
allow flags_health_check hwservicemanager_prop:file { open };
allow flags_health_check hwservicemanager_prop:file { getattr };
allow flags_health_check hypervisor_prop:file { open };
allow flags_health_check hypervisor_prop:file { getattr };
allow flags_health_check incremental_prop:file { open };
allow flags_health_check incremental_prop:file { getattr };
allow flags_health_check init_perf_lsm_hooks_prop:file { open };
allow flags_health_check init_perf_lsm_hooks_prop:file { getattr };
allow flags_health_check init_svc_aee_aedv_prop:file { open };
allow flags_health_check init_svc_aee_aedv_prop:file { getattr };
allow flags_health_check init_svc_debug_prop:file { open };
allow flags_health_check init_svc_debug_prop:file { getattr };
allow flags_health_check init_svc_emdlogger1_prop:file { open };
allow flags_health_check init_svc_emdlogger1_prop:file { getattr };
allow flags_health_check init_svc_md_monitor_prop:file { open };
allow flags_health_check init_svc_md_monitor_prop:file { getattr };
allow flags_health_check keyguard_config_prop:file { open };
allow flags_health_check keyguard_config_prop:file { getattr };
allow flags_health_check keystore_crash_prop:file { open };
allow flags_health_check keystore_crash_prop:file { getattr };
allow flags_health_check keystore_listen_prop:file { open };
allow flags_health_check keystore_listen_prop:file { getattr };
allow flags_health_check last_boot_reason_prop:file { open };
allow flags_health_check last_boot_reason_prop:file { getattr };
allow flags_health_check llkd_prop:file { open };
allow flags_health_check llkd_prop:file { getattr };
allow flags_health_check lmkd_prop:file { open };
allow flags_health_check lmkd_prop:file { getattr };
allow flags_health_check logmuch_prop:file { open };
allow flags_health_check logmuch_prop:file { getattr };
allow flags_health_check logpersistd_logging_prop:file { open };
allow flags_health_check logpersistd_logging_prop:file { getattr };
allow flags_health_check lower_kptr_restrict_prop:file { open };
allow flags_health_check lower_kptr_restrict_prop:file { getattr };
allow flags_health_check lowpan_prop:file { open };
allow flags_health_check lowpan_prop:file { getattr };
allow flags_health_check lpdumpd_prop:file { open };
allow flags_health_check lpdumpd_prop:file { getattr };
allow flags_health_check md_status_prop:file { open };
allow flags_health_check md_status_prop:file { getattr };
allow flags_health_check media_config_prop:file { open };
allow flags_health_check media_config_prop:file { getattr };
allow flags_health_check media_variant_prop:file { open };
allow flags_health_check media_variant_prop:file { getattr };
allow flags_health_check media_wfd_prop:file { open };
allow flags_health_check media_wfd_prop:file { getattr };
allow flags_health_check mediatek_prop:file { open };
allow flags_health_check mediatek_prop:file { getattr };
allow flags_health_check meta_connecttype_prop:file { open };
allow flags_health_check meta_connecttype_prop:file { getattr };
allow flags_health_check mm_events_config_prop:file { open };
allow flags_health_check mm_events_config_prop:file { getattr };
allow flags_health_check mmc_prop:file { open };
allow flags_health_check mmc_prop:file { getattr };
allow flags_health_check mnld_prop:file { open };
allow flags_health_check mnld_prop:file { getattr };
allow flags_health_check mobile_log_prop:file { open };
allow flags_health_check mobile_log_prop:file { getattr };
allow flags_health_check mock_ota_prop:file { open };
allow flags_health_check mock_ota_prop:file { getattr };
allow flags_health_check mtk_aal_prop:file { open };
allow flags_health_check mtk_aal_prop:file { getattr };
allow flags_health_check mtk_aal_ro_prop:file { open };
allow flags_health_check mtk_aal_ro_prop:file { getattr };
allow flags_health_check mtk_acs_support_prop:file { open };
allow flags_health_check mtk_acs_support_prop:file { getattr };
allow flags_health_check mtk_acs_url_prop:file { open };
allow flags_health_check mtk_acs_url_prop:file { getattr };
allow flags_health_check mtk_acs_version_prop:file { open };
allow flags_health_check mtk_acs_version_prop:file { getattr };
allow flags_health_check mtk_active_noise_cancel_prop:file { open };
allow flags_health_check mtk_active_noise_cancel_prop:file { getattr };
allow flags_health_check mtk_amsaal_prop:file { open };
allow flags_health_check mtk_amsaal_prop:file { getattr };
allow flags_health_check mtk_amslog_prop:file { open };
allow flags_health_check mtk_amslog_prop:file { getattr };
allow flags_health_check mtk_anr_support_prop:file { open };
allow flags_health_check mtk_anr_support_prop:file { getattr };
allow flags_health_check mtk_antutu_prop:file { open };
allow flags_health_check mtk_antutu_prop:file { getattr };
allow flags_health_check mtk_aod_support_prop:file { open };
allow flags_health_check mtk_aod_support_prop:file { getattr };
allow flags_health_check mtk_appresolutiontuner_prop:file { open };
allow flags_health_check mtk_appresolutiontuner_prop:file { getattr };
allow flags_health_check mtk_apptoken_required_prop:file { open };
allow flags_health_check mtk_apptoken_required_prop:file { getattr };
allow flags_health_check mtk_atci_prop:file { open };
allow flags_health_check mtk_atci_prop:file { getattr };
allow flags_health_check mtk_atci_sys_prop:file { open };
allow flags_health_check mtk_atci_sys_prop:file { getattr };
allow flags_health_check mtk_besloudness_support_prop:file { open };
allow flags_health_check mtk_besloudness_support_prop:file { getattr };
allow flags_health_check mtk_bg_power_saving_support_prop:file { open };
allow flags_health_check mtk_bg_power_saving_support_prop:file { getattr };
allow flags_health_check mtk_bg_power_saving_ui_prop:file { open };
allow flags_health_check mtk_bg_power_saving_ui_prop:file { getattr };
allow flags_health_check mtk_bgdata_disabled:file { open };
allow flags_health_check mtk_bgdata_disabled:file { getattr };
allow flags_health_check mtk_bluetooth_prop:file { open };
allow flags_health_check mtk_bluetooth_prop:file { getattr };
allow flags_health_check mtk_bt_sap_enable_prop:file { open };
allow flags_health_check mtk_bt_sap_enable_prop:file { getattr };
allow flags_health_check mtk_cam_security_prop:file { open };
allow flags_health_check mtk_cam_security_prop:file { getattr };
allow flags_health_check mtk_camera_prop:file { open };
allow flags_health_check mtk_camera_prop:file { getattr };
allow flags_health_check mtk_capability_switch_prop:file { open };
allow flags_health_check mtk_capability_switch_prop:file { getattr };
allow flags_health_check mtk_cba_activation:file { open };
allow flags_health_check mtk_cba_activation:file { getattr };
allow flags_health_check mtk_cdma_ecm_prop:file { open };
allow flags_health_check mtk_cdma_ecm_prop:file { getattr };
allow flags_health_check mtk_clientapi_support_prop:file { open };
allow flags_health_check mtk_clientapi_support_prop:file { getattr };
allow flags_health_check mtk_common_data_prop:file { open };
allow flags_health_check mtk_common_data_prop:file { getattr };
allow flags_health_check mtk_crossmount_support_prop:file { open };
allow flags_health_check mtk_crossmount_support_prop:file { getattr };
allow flags_health_check mtk_ct_ir_engmode_prop:file { open };
allow flags_health_check mtk_ct_ir_engmode_prop:file { getattr };
allow flags_health_check mtk_ct_volte_prop:file { open };
allow flags_health_check mtk_ct_volte_prop:file { getattr };
allow flags_health_check mtk_cta_log_prop:file { open };
allow flags_health_check mtk_cta_log_prop:file { getattr };
allow flags_health_check mtk_cta_set_prop:file { open };
allow flags_health_check mtk_cta_set_prop:file { getattr };
allow flags_health_check mtk_cta_support_prop:file { open };
allow flags_health_check mtk_cta_support_prop:file { getattr };
allow flags_health_check mtk_ctmslot_prop:file { open };
allow flags_health_check mtk_ctmslot_prop:file { getattr };
allow flags_health_check mtk_cxp_vendor_prop:file { open };
allow flags_health_check mtk_cxp_vendor_prop:file { getattr };
allow flags_health_check mtk_datashaping_prop:file { open };
allow flags_health_check mtk_datashaping_prop:file { getattr };
allow flags_health_check mtk_debug_md_reset_prop:file { open };
allow flags_health_check mtk_debug_md_reset_prop:file { getattr };
allow flags_health_check mtk_default_prop:file { open };
allow flags_health_check mtk_default_prop:file { getattr };
allow flags_health_check mtk_default_write_disk_prop:file { open };
allow flags_health_check mtk_default_write_disk_prop:file { getattr };
allow flags_health_check mtk_deinterlace_support_prop:file { open };
allow flags_health_check mtk_deinterlace_support_prop:file { getattr };
allow flags_health_check mtk_disable_c2k_cap_prop:file { open };
allow flags_health_check mtk_disable_c2k_cap_prop:file { getattr };
allow flags_health_check mtk_dmc_prop:file { open };
allow flags_health_check mtk_dmc_prop:file { getattr };
allow flags_health_check mtk_drm_fwd_lock_only_prop:file { open };
allow flags_health_check mtk_drm_fwd_lock_only_prop:file { getattr };
allow flags_health_check mtk_dsbp_support_prop:file { open };
allow flags_health_check mtk_dsbp_support_prop:file { getattr };
allow flags_health_check mtk_duraspeed_drop_caches:file { open };
allow flags_health_check mtk_duraspeed_drop_caches:file { getattr };
allow flags_health_check mtk_duraspeed_prop:file { open };
allow flags_health_check mtk_duraspeed_prop:file { getattr };
allow flags_health_check mtk_dynims_prop:file { open };
allow flags_health_check mtk_dynims_prop:file { getattr };
allow flags_health_check mtk_em_hidl_prop:file { open };
allow flags_health_check mtk_em_hidl_prop:file { getattr };
allow flags_health_check mtk_em_net_auto_tethering_prop:file { open };
allow flags_health_check mtk_em_net_auto_tethering_prop:file { getattr };
allow flags_health_check mtk_em_prop:file { open };
allow flags_health_check mtk_em_prop:file { getattr };
allow flags_health_check mtk_em_sys_prop:file { open };
allow flags_health_check mtk_em_sys_prop:file { getattr };
allow flags_health_check mtk_em_tel_log_prop:file { open };
allow flags_health_check mtk_em_tel_log_prop:file { getattr };
allow flags_health_check mtk_emcamera_prop:file { open };
allow flags_health_check mtk_emcamera_prop:file { getattr };
allow flags_health_check mtk_emmc_support_prop:file { open };
allow flags_health_check mtk_emmc_support_prop:file { getattr };
allow flags_health_check mtk_extsim_prop:file { open };
allow flags_health_check mtk_extsim_prop:file { getattr };
allow flags_health_check mtk_fd_support_prop:file { open };
allow flags_health_check mtk_fd_support_prop:file { getattr };
allow flags_health_check mtk_fullscreenswitch_prop:file { open };
allow flags_health_check mtk_fullscreenswitch_prop:file { getattr };
allow flags_health_check mtk_gallery_prop:file { open };
allow flags_health_check mtk_gallery_prop:file { getattr };
allow flags_health_check mtk_gprs_attach_type:file { open };
allow flags_health_check mtk_gprs_attach_type:file { getattr };
allow flags_health_check mtk_gprs_prefer_prop:file { open };
allow flags_health_check mtk_gprs_prefer_prop:file { getattr };
allow flags_health_check mtk_gps_support_prop:file { open };
allow flags_health_check mtk_gps_support_prop:file { getattr };
allow flags_health_check mtk_gsm_neting_prop:file { open };
allow flags_health_check mtk_gsm_neting_prop:file { getattr };
allow flags_health_check mtk_hdmi_prop:file { open };
allow flags_health_check mtk_hdmi_prop:file { getattr };
allow flags_health_check mtk_heavy_loading_prop:file { open };
allow flags_health_check mtk_heavy_loading_prop:file { getattr };
allow flags_health_check mtk_hifiaudio_support_prop:file { open };
allow flags_health_check mtk_hifiaudio_support_prop:file { getattr };
allow flags_health_check mtk_ims_eims_pdn_prop:file { open };
allow flags_health_check mtk_ims_eims_pdn_prop:file { getattr };
allow flags_health_check mtk_ims_prop:file { open };
allow flags_health_check mtk_ims_prop:file { getattr };
allow flags_health_check mtk_imstestmode_prop:file { open };
allow flags_health_check mtk_imstestmode_prop:file { getattr };
allow flags_health_check mtk_jpeg_opt_prop:file { open };
allow flags_health_check mtk_jpeg_opt_prop:file { getattr };
allow flags_health_check mtk_libudf_prop:file { open };
allow flags_health_check mtk_libudf_prop:file { getattr };
allow flags_health_check mtk_log_tel_dbg_prop:file { open };
allow flags_health_check mtk_log_tel_dbg_prop:file { getattr };
allow flags_health_check mtk_malloc_debug_backtrace_prop:file { open };
allow flags_health_check mtk_malloc_debug_backtrace_prop:file { getattr };
allow flags_health_check mtk_md_prop:file { open };
allow flags_health_check mtk_md_prop:file { getattr };
allow flags_health_check mtk_md_version_prop:file { open };
allow flags_health_check mtk_nfc_uicc_clf_prop:file { open };
allow flags_health_check mtk_nfc_uicc_clf_prop:file { getattr };
allow flags_health_check mtk_nn_option_prop:file { open };
allow flags_health_check mtk_nn_option_prop:file { getattr };
allow flags_health_check mtk_pms_prop:file { open };
allow flags_health_check mtk_pms_prop:file { getattr };
allow flags_health_check mtk_power_off_md_type:file { open };
allow flags_health_check mtk_telecom_vibrate:file { open };
allow flags_health_check mtk_testsim_cardtype_prop:file { open };
allow flags_health_check mtk_vdec_log_prop:file { open };
allow flags_health_check mtk_vilte_support_prop:file { getattr };
allow flags_health_check mtk_voicerecgnize_prop:file { open };
allow flags_health_check mtk_vsim_prop:file { open };
allow flags_health_check mtk_wappush_prop:file { open };
allow flags_health_check mtk_wfc_prop:file { open };
allow flags_health_check mtk_world_phone_prop:file { open };
allow flags_health_check net_dn_prop:file { open };
allow flags_health_check netdagent_prop:file { open };
allow flags_health_check num_md_protocol_prop:file { open };
allow flags_health_check overlay_prop:file { open };
allow flags_health_check perf_drop_caches_prop:file { open };
allow flags_health_check persist_mdlog_prop:file { open };
allow flags_health_check persist_mtklog_prop:file { open };
allow flags_health_check persist_xcap_rawurl_prop:file { open };
allow flags_health_check power_debug_prop:file { open };
allow flags_health_check provisioned_prop:file { open };
allow flags_health_check radio_cdma_ecm_prop:file { open };
allow flags_health_check recovery_config_prop:file { open };
allow flags_health_check ril_active_md_prop:file { open };
allow flags_health_check ro_mtk_aee_prop:file { open };
allow flags_health_check safemode_prop:file { open };
allow flags_health_check service_nvram_init_prop:file { open };
allow flags_health_check soter_teei_prop:file { open };
allow flags_health_check storage_config_prop:file { open };
allow flags_health_check suspend_prop:file { open };
allow flags_health_check system_cdma_prop:file { open };
allow flags_health_check system_trace_prop:file { open };
allow flags_health_check tel_switch_prop:file { open };
allow flags_health_check terservice_prop:file { open };
allow flags_health_check thermal_engine_prop:file { open };
allow flags_health_check traced_enabled_prop:file { open };
allow flags_health_check usp_srv_prop:file { open };
allow flags_health_check usp_srv_prop:file { getattr };
allow flags_health_check vehicle_hal_prop:file { open };
allow flags_health_check vendor_bt_prop:file { open };
allow flags_health_check vendor_debug_prop:file { getattr };
allow flags_health_check vendor_factory_idle_state_prop:file { open };
allow flags_health_check vendor_mdl_prop:file { open };
allow flags_health_check vendor_persist_camera_prop:file { open };
allow flags_health_check vendor_sim_system_prop:file { open };
allow flags_health_check vendor_usb_otg_switch:file { open };
allow flags_health_check vendor_vt_prop:file { getattr };
allow flags_health_check vold_post_fs_data_prop:file { open };
allow flags_health_check wfd_sys_debug_prop:file { open };
allow flags_health_check wifi_hal_prop:file { open };
allow flags_health_check wmt_prop:file { open };
