allow init property_type:file { append create getattr map open read relabelto rename setattr unlink write };
allow init servicemanager:binder { transfer };
allow init adbroot_service:service_manager { add };
